.page[data-v-34cc7e22]{
	background:url(../img/background.png);
}
p[data-v-34cc7e22]{
	text-align:justify;
}
.header[data-v-34cc7e22]{
	background:rgba(0,0,0,0);
}
.toolbar[data-v-34cc7e22]{
	background:rgba(63,0,0,0.5);
}
.toolbarTitle[data-v-34cc7e22]{
	text-align:center;
	text-shadow: 0px 0px 8px rgba(255,191,191,0.5);
}
.caslogo[data-v-34cc7e22]{
	width:50vmin;
	height:50vmin;
}
.imageCredits td[data-v-34cc7e22],.imageCredits img[data-v-34cc7e22]{
	vertical-align:middle;
}
